<html>
  <head>
    <title>{{title}}</title>
  </head>


<h1>IQ Desk</h1>
<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    th, td {
      padding: 5px;
      text-align: left;    
    }
    </style>
<label for="employeeID">Enter Emplyee ID:</label>
<input type="text" name="employeeID" [(ngModel)]="employeeID">
<button (click)="findEmp(employeeID)">Search</button>
<hr>
<button (click)="getPosts()" class="btn btn-primary"  >Show Posts</button>
<button (click)="getUsers()" class="btn btn-primary" >Show Users</button>


<div *ngIf="showPosts">
  <ul>
   

    
    <li *ngFor="let post of posts">
      Post ID: {{post.id}} <br>
      User ID: {{post.userId}} <br>
      Title: <b>{{post.title}}</b> <br>
      Post: {{post.body}} <br>
      <hr>
    </li>
    
  </ul>  
</div>

<div *ngIf="showUsers">
   <mat-table [dataSource]="dataSource">
     <ng-container matColumnDef="name">
       <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
       <mat-cell *matCellDef="let users">{{user.name}}</mat-cell>
     </ng-container>
     <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
     <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
   </mat-table>
    <!-- <tr>
        <th>ID</th>
        <th>Name</th>
        <th>userName</th>
        <th>Email</th>
        
      </tr> -->
    <!-- <tr *ngFor="let user of users">
        
          <td> {{user.id}}</td>
          <td> {{user.name}}</td>
          <td> {{user.username}}</td>
          <td> {{user.email}}</td>
          
          
        </tr> -->







</div>
<router-outlet></router-outlet>
</html>